@import "./components/base";
@import "./components/mediaqueries";
@import "./components/mixin";
*{
    overflow-x: hidden;
body{
    header{
        .fixed{
            position: absolute;
            width: 1441px;
            height: 30px;
            left: 0px;
            top: 0px;
            color:#ccc;
            background-color: #000;
            padding: 5px;
            text-align: center;
            font-size: 14px;
        .fixed-2{
            text-decoration: underline;
        }
        }
        nav{
        .container{
            padding-left:2rem;
            padding-right:2rem;
            margin-top: 40px;
            @include foflex;
           
        .logo{
            font-family: 'Quella', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 46px;
            color: #1E1E1E;
                                                
        }
        .input-nav{
           width: 500px;
           height: 30px;
           font-size:12px;
           background: #F5F5F5;
           border-radius: 5px;
           border:none;
           padding-left: 10px;


        }
        .search-button i{
            position:relative;
            right: 190px;
            font-size: 20px;
            padding-top:10px;
          
            
        }
        .down i{
            position:relative;
            top: 300px;
        }
        

    }
    .container-2{
        border-top: 1.5px solid black;
        border-bottom:1.5px solid black;
        box-sizing: border-box;
        padding-top: 10px;
        overflow-y: hidden;
        padding-bottom: 15px;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top:40px;
        @include navflex;
    .logo-2{
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        overflow-y: hidden;

    }
    .nav-page-1 ul{
        @include navflex-1;
        list-style: none;
        gap: 25px;
    li a{
        text-decoration: none;
        color:#000;
    }
    
    }
    .nav-page-2{
        display: flex;
        gap:20px;
    }


    }
}
}
section{
    .container-3{
        margin-top: 30px;
        @include hero-flex;
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 1px; 
        background-color: #000;
        position: absolute;
        width: 1239.47px;
        height: 400px;

    .container-4{
        padding-left:2rem;

    .ios-image i{
        font-size: 100px;
        width: 100px;
        color:white;

    }
    .ios{
        font-size: 20px;
        position: relative;
        bottom: 40px;
        color:white;   
    }
    p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 83px;
        color: white;
        padding-top: 30px;
    }
    .shop{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 22.2326px;
        line-height: 33px;
        color: white;
        padding-top: 30px;

    }
    .icon i{
        color: white;
        font-size: 30px;
        position: absolute;
        bottom:30px;
        margin-left: 10px;
        

    }

}

    }
}



}
}