@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;0,900;1,200;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/quella");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: inherit;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

* {
  overflow-x: hidden;
}
* body header .fixed {
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0px;
  top: 0px;
  color: #ccc;
  background-color: #000;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  overflow-y: hidden;
}
@media (max-width: 600px) {
  * body header .fixed {
    width: 100%;
    padding: none;
    font-size: 10px;
    height: 20px;
    text-align: center;
  }
}
* body header .fixed .fixed-2 {
  text-decoration: underline;
}
@media (max-width: 600px) {
  * body header .fixed .fixed-2 {
    font-size: 10px;
  }
}
* body header nav .container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 600px) {
  * body header nav .container {
    padding-left: 10px;
  }
}
* body header nav .container .logo {
  font-family: "Quella", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 46px;
  color: #1E1E1E;
}
@media (max-width: 600px) {
  * body header nav .container .logo {
    font-family: "Quella", sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
}
* body header nav .container .input-nav {
  width: 500px;
  height: 30px;
  font-size: 12px;
  background: #F5F5F5;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}
@media (max-width: 600px) {
  * body header nav .container .input-nav {
    display: none;
  }
}
* body header nav .container .search-button i {
  position: relative;
  right: 190px;
  font-size: 20px;
  padding-top: 10px;
}
* body header nav .container .down i {
  position: relative;
  top: 300px;
}
* body header nav .container-2 {
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  box-sizing: border-box;
  padding-top: 10px;
  overflow-y: hidden;
  padding-bottom: 15px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 600px) {
  * body header nav .container-2 {
    padding-left: 10px;
  }
}
* body header nav .container-2 .logo-2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  overflow-y: hidden;
}
@media (max-width: 600px) {
  * body header nav .container-2 .logo-2 {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
  }
}
* body header nav .container-2 .nav-page-1 .icona {
  display: none;
}
@media (max-width: 600px) {
  * body header nav .container-2 .nav-page-1 .icona {
    display: block;
  }
}
* body header nav .container-2 .nav-page-1 .dropdown-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  gap: 25px;
}
@media (max-width: 600px) {
  * body header nav .container-2 .nav-page-1 .dropdown-menu {
    display: none;
  }
}
* body header nav .container-2 .nav-page-1 .dropdown-menu li a {
  text-decoration: none;
  color: #000;
}
* body header nav .container-2 .nav-page-2 {
  display: flex;
  gap: 20px;
}
@media (max-width: 600px) {
  * body header nav .container-2 .nav-page-2 {
    display: none;
  }
}
* body main .container-3 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 1px;
  background-color: #000;
  height: 100%;
  padding: 50px;
}
@media (max-width: 600px) {
  * body main .container-3 {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
  }
}
* body main .container-3 .container-4 {
  padding-left: 2rem;
}
@media (max-width: 600px) {
  * body main .container-3 .container-4 {
    padding-left: 20px;
  }
}
* body main .container-3 .container-4 .ios-image i {
  font-size: 100px;
  width: 100px;
  color: white;
}
@media (max-width: 600px) {
  * body main .container-3 .container-4 .ios-image i {
    font-size: 70px;
    width: 100px;
  }
}
* body main .container-3 .container-4 .ios {
  font-size: 20px;
  position: relative;
  bottom: 40px;
  color: white;
}
@media (max-width: 600px) {
  * body main .container-3 .container-4 .ios {
    font-size: 30px;
    position: relative;
    bottom: 20px;
    color: white;
  }
}
* body main .container-3 .container-4 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 83px;
  color: white;
  padding-top: 30px;
}
@media (max-width: 600px) {
  * body main .container-3 .container-4 p {
    font-size: 40px;
    line-height: 70px;
  }
}
* body main .container-3 .container-4 .shop {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22.2326px;
  line-height: 33px;
  color: white;
  padding-top: 30px;
}
@media (max-width: 600px) {
  * body main .container-3 .container-4 .shop {
    font-size: 25px;
  }
}
* body main .container-3 .container-4 .icon i {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 565px;
}
@media (max-width: 600px) {
  * body main .container-3 .container-4 .icon i {
    position: absolute;
    top: 440px;
  }
}
* body section .container-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
}
@media (max-width: 600px) {
  * body section .container-5 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    padding: 0;
  }
}
* body section .container-5 .box-1 {
  position: relative;
  background: #FDFFFE;
  box-shadow: 0px 34.867px 46.4894px rgba(212, 217, 232, 0.2);
  border-radius: 18.5958px;
  width: 130.58px;
  height: 111.57px;
}
@media (max-width: 600px) {
  * body section .container-5 .box-1 {
    width: 300px;
  }
}
* body section .container-5 .box-1 .box-image-1 {
  position: absolute;
  width: 83.03px;
  height: 62.76px;
  left: 20px;
  bottom: 1rem;
}
@media (max-width: 600px) {
  * body section .container-5 .box-1 .box-image-1 {
    position: absolute;
    width: 130px;
    left: 80px;
  }
}
@media (max-width: 600px) {
  * body section .container-5 .box-1 .box-image-2 {
    position: absolute;
    width: 130px;
    left: 80px;
  }
}
* body section .container-5 .box-1 .box-image-3 {
  position: absolute;
  width: 83.03px;
  height: 62.76px;
  left: 20px;
  bottom: 1rem;
}
@media (max-width: 600px) {
  * body section .container-5 .box-1 .box-image-3 {
    position: absolute;
    width: 130px;
    left: 80px;
  }
}
* body section .container-5 .box-1 .box-image-4 {
  position: absolute;
  width: 83.03px;
  height: 62.76px;
  left: 20px;
  bottom: 1rem;
}
@media (max-width: 600px) {
  * body section .container-5 .box-1 .box-image-4 {
    position: absolute;
    width: 130px;
    left: 80px;
  }
}
* body section .container-5 .box-1 .box-image-5 {
  position: absolute;
  width: 83.03px;
  height: 62.76px;
  left: 20px;
  bottom: 1rem;
}
@media (max-width: 600px) {
  * body section .container-5 .box-1 .box-image-5 {
    position: absolute;
    width: 130px;
    left: 80px;
  }
}
* body section h1 {
  padding-left: 2rem;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 96px;
}
@media (max-width: 600px) {
  * body section h1 {
    font-size: 30px;
    padding-left: 10px;
  }
}
* body section .container-6 {
  margin-left: 2rem;
  margin-right: 2rem;
}
@media (max-width: 600px) {
  * body section .container-6 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
* body section .container-6 .container-7 {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 600px) {
  * body section .container-6 .container-7 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
* body section .container-6 .container-7 .images-stores-1 {
  position: relative;
}
* body section .container-6 .container-7 .images-stores-1 .subject {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 50px;
  position: absolute;
  bottom: 1.3rem;
  left: 1rem;
  color: white;
}
@media (max-width: 600px) {
  * body section .container-6 .container-7 .images-stores-1 .subject {
    font-size: 20px;
  }
}
* body section .container-6 .container-7 .images-stores-2 {
  position: relative;
}
* body section .container-6 .container-7 .images-stores-2 .subject {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 50px;
  position: absolute;
  left: 1rem;
  bottom: 1.3rem;
  color: white;
}
@media (max-width: 600px) {
  * body section .container-6 .container-7 .images-stores-2 .subject {
    font-size: 20px;
  }
}
* body section .container-6 .container-8 {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 600px) {
  * body section .container-6 .container-8 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
* body section .container-6 .container-8 .images-stores-3 {
  position: relative;
}
* body section .container-6 .container-8 .images-stores-3 .subject {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 50px;
  position: absolute;
  left: 1rem;
  bottom: 1.3rem;
  color: white;
}
@media (max-width: 600px) {
  * body section .container-6 .container-8 .images-stores-3 .subject {
    font-size: 20px;
  }
}
* body section .container-6 .container-8 .images-stores-4 {
  position: relative;
}
* body section .container-6 .container-8 .images-stores-4 .subject {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 50px;
  position: absolute;
  left: 1rem;
  bottom: 1.3rem;
  color: white;
}
@media (max-width: 600px) {
  * body section .container-6 .container-8 .images-stores-4 .subject {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  * body section {
    margin-left: 10px;
    margin-right: 10px;
  }
}
* body section .container-9 {
  margin-top: 40px;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  flex-direction: start;
  gap: 30px;
}
@media (max-width: 600px) {
  * body section .container-9 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
* body section .container-9 .container-10 {
  position: relative;
}
* body section .container-9 .container-10 span {
  font-size: 25px;
  font-weight: bolder;
}
* body section .container-9 .container-10 .easy {
  width: 193.96px;
  height: 81px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17.8128px;
  line-height: 27px;
}
* body section .container-9 .container-10 button {
  background: #C1DCDC;
  border-radius: 7.9168px;
  margin-top: 25px;
  border: none;
  padding: 25px;
  font-size: 17px;
}
* body section .container-9 .container-10 button i {
  position: absolute;
  bottom: 1.7rem;
  padding-left: 4px;
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 600px) {
  * body section .container-9 .container-10 button i {
    display: none;
  }
}
* body section .container-9 .container-11 p {
  font-style: normal;
  font-weight: 500;
  font-size: 16.63px;
  line-height: 25px;
}
* body section .container-9 .container-11 .old-amount {
  text-decoration: line-through;
}
* body section .container-9 .container-11 .amount-off {
  color: green;
}
* body section .container-9 .container-11 i {
  position: absolute;
  top: 1795px;
  font-size: 30px;
  left: 317px;
}
* body section .container-9 .container-12 p {
  font-style: normal;
  font-weight: 500;
  font-size: 16.63px;
  line-height: 25px;
}
* body section .container-9 .container-12 .old-amount {
  text-decoration: line-through;
}
* body section .container-9 .container-12 .amount-off {
  color: green;
}
* body section .container-9 .container-13 p {
  font-style: normal;
  font-weight: 500;
  font-size: 16.63px;
  line-height: 25px;
}
* body section .container-9 .container-13 .old-amount {
  text-decoration: line-through;
}
* body section .container-9 .container-13 .amount-off {
  color: green;
}
* body section .container-9 .container-13 i {
  position: absolute;
  top: 1790px;
  font-size: 30px;
  right: 45px;
}
* body section .container-14 {
  margin-top: 40px;
  height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #C1DCDC;
}
* body section .container-15 {
  width: 100%;
  background-size: cover;
  background-position: -250px 0;
  background-repeat: no-repeat;
  animation: bar 2s linear infinite;
  margin-top: 30px;
  padding-left: 20px;
}
* body section .container-15 .discount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
}
@media (max-width: 600px) {
  * body section .container-15 .discount {
    font-size: 15px;
  }
}
* body section .container-15 .dummy {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #212121;
  opacity: 0.7;
}
* body section .container-16 {
  background: #02A0A0;
  width: 60%;
}
* body section .container-16 button {
  background-color: black;
  color: white;
  width: 100px;
  border: none;
  padding: 10px;
  margin-top: 30px;
  margin-left: 260px;
  border-radius: 2px;
}
* body section {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 40px;
}
@media (max-width: 600px) {
  * body section {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  * body section {
    margin-left: 10px;
    margin-right: 10px;
  }
}
* body section .container-17 {
  display: flex;
  justify-content: flex-start;
  gap: 120px;
}
@media (max-width: 600px) {
  * body section .container-17 {
    display: flex;
    flex-direction: column;
  }
}
* body section .container-17 .container-18 {
  background-color: black;
  height: 550px;
  position: relative;
}
* body section .container-17 .container-18 .ps-5 {
  width: 162px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  left: 0px;
  bottom: 8rem;
  color: white;
  padding-left: 10px;
}
* body section .container-17 .container-18 .ps-5-intro {
  width: 242px;
  height: 42px;
  font-family: "Poppins";
  font-size: 14px;
  line-height: 21px;
  position: absolute;
  left: 0px;
  bottom: 4rem;
  color: white;
  padding-left: 8px;
}
* body section .container-17 .container-18 .buy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  left: 0px;
  bottom: 2rem;
  color: white;
  text-decoration: underline;
  padding-left: 8px;
}
* body section .container-17 .container-19 .container-20 {
  position: relative;
}
* body section .container-17 .container-19 .container-20 .women {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  position: absolute;
  left: 0px;
  bottom: 6rem;
  color: white;
  padding-left: 8px;
}
* body section .container-17 .container-19 .container-20 .women-intro {
  width: 230px;
  height: 42px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  position: absolute;
  left: 0px;
  bottom: 3rem;
  color: white;
  padding-left: 10px;
}
* body section .container-17 .container-19 .container-20 .buy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  position: absolute;
  left: 0px;
  bottom: 1rem;
  color: white;
  text-decoration: underline;
  padding-left: 8px;
}
* body section .container-17 .container-21 {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}
* body section .container-17 .container-21 .container-22 {
  background-color: #000;
  padding: 10px;
  height: 250px;
  position: relative;
}
* body section .container-17 .container-21 .container-22 .Speakers {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: white;
  position: absolute;
  bottom: 7rem;
  left: 10px;
}
* body section .container-17 .container-21 .container-22 .speakers-intro {
  width: 191px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  color: white;
  position: absolute;
  bottom: 5rem;
  left: 10px;
}
* body section .container-17 .container-21 .container-22 .buy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  color: white;
  text-decoration: underline;
  position: absolute;
  bottom: 3rem;
  left: 10px;
}
* body section .container-17 .container-21 .container-23 {
  background-color: #000;
  height: 250px;
  padding: 10px;
}
* body section .container-24 .container-25 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
@media (max-width: 600px) {
  * body section .container-24 .container-25 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
* body section .container-24 .container-25 .container-26 .container-27 {
  margin-top: 20px;
}
* body section .container-24 .container-25 .container-26 .container-27 .price-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18.9153px;
  line-height: 28px;
}
* body section .container-24 .container-25 .container-26 .container-27 button {
  background: transparent;
  border-radius: 4px;
  color: #2283DC;
}
* body section .container-24 .container-25 .container-26 .container-27 button i {
  color: #2283DC;
  padding-top: 4px;
  padding-right: 3px;
}
* body section .container-24 .container-25 .container-28 .container-29 .price-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18.9153px;
  line-height: 28px;
}
* body section .container-24 .container-25 .container-28 .container-29 button {
  background: transparent;
  border-radius: 4px;
  color: #2283DC;
}
* body section .container-24 .container-25 .container-28 .container-29 button i {
  color: #2283DC;
  padding-top: 4px;
  padding-right: 3px;
}
* body section .container-24 .container-25 .container-30 .container-31 .price-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18.9153px;
  line-height: 28px;
}
* body section .container-24 .container-25 .container-30 .container-31 button {
  background: transparent;
  border-radius: 4px;
  color: #2283DC;
}
* body section .container-24 .container-25 .container-30 .container-31 button i {
  color: #2283DC;
  padding-top: 4px;
  padding-right: 3px;
}
* body section .container-24 .container-25 .container-32 .container-33 .price-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18.9153px;
  line-height: 28px;
}
* body section .container-24 .container-25 .container-32 .container-33 button {
  background: transparent;
  border-radius: 4px;
  color: #2283DC;
}
* body section .container-24 .container-25 .container-32 .container-33 button i {
  color: #2283DC;
  padding-top: 4px;
  padding-right: 3px;
}
* body footer {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  margin-right: 2rem;
  background-color: #000;
}
@media (max-width: 600px) {
  * body footer {
    margin: 0px;
  }
}
* body footer .container-34 {
  display: flex;
  justify-content: flex-start;
  gap: 480px;
  border-bottom: 1px solid #F5F5F5;
}
@media (max-width: 600px) {
  * body footer .container-34 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
* body footer .container-34 .container-35 {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}
@media (max-width: 600px) {
  * body footer .container-34 .container-35 {
    padding-left: 10px;
  }
}
* body footer .container-34 .container-36 p {
  color: white;
}
* body footer .container-34 .container-37 {
  padding-top: 25px;
}
@media (max-width: 600px) {
  * body footer .container-34 .container-37 {
    padding-left: 10px;
    padding-top: 10px;
  }
}
* body footer .container-34 .container-37 .container-38 p {
  color: white;
}
* body footer .container-39 {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  border-bottom: 2px solid white;
}
@media (max-width: 600px) {
  * body footer .container-39 {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
  }
}
* body footer .container-39 .container-40 h3 {
  color: white;
}
* body footer .container-39 .container-40 ul {
  padding: 0;
  color: white;
}
* body footer .container-39 .container-41 h3 {
  color: white;
}
* body footer .container-39 .container-41 ul {
  padding: 0;
  color: white;
}
* body footer .container-39 .container-42 h3 {
  color: white;
}
* body footer .container-39 .container-42 ul {
  padding: 0;
  color: white;
}
* body footer .container-39 .container-43 h3 {
  color: white;
}
* body footer .container-39 .container-43 ul {
  padding: 0;
  color: white;
}
* body footer .container-39 .container-44 h3 {
  color: white;
}
* body footer .container-39 .container-44 ul {
  padding: 0;
  color: white;
}
* body footer .container-39 .container-44 .app {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
* body footer .copyright-footer {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
}
* body footer .copyright-footer .copyright p {
  color: white;
}/*# sourceMappingURL=index.css.map */