@mixin foflex{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
@mixin navflex{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
@mixin navflex-1{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
@mixin hero-flex{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
@mixin boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin images{
    display: flex;
        align-items: center;
        flex-direction: start;
        gap: 30px;
}